## Rappel d'hier

#### Les listes

In [10]:
ma_liste = [True, 12, "Bonjour", [2, 5], 2.0]

print(ma_liste[1])
print(ma_liste[2])
print(ma_liste[-1])
print(ma_liste[1] + ma_liste[-1])

print(ma_liste[0:2])
print(ma_liste[:2])
print(ma_liste[1:])
print(ma_liste[:-1])
print(ma_liste[::2])
print(ma_liste[0:4:2])
print(ma_liste[::-1])

12
Bonjour
2.0
14.0
[True, 12]
[True, 12]
[12, 'Bonjour', [2, 5], 2.0]
[True, 12, 'Bonjour', [2, 5]]
[True, 'Bonjour', 2.0]
[True, 'Bonjour']
[2.0, [2, 5], 'Bonjour', 12, True]

In [ ]:
ma_liste = [12, 5, 8, 9, 10]
sorted(ma_liste)
print(ma_liste) # Pas de modification de ma_liste

In [14]:
ma_liste = [12, 5, 8, 9, 10]
a = sorted(ma_liste)
print(ma_liste)
print(a)

[12, 5, 8, 9, 10]
[5, 8, 9, 10, 12]

In [15]:
print(sorted(ma_liste))

[5, 8, 9, 10, 12]

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
ma_liste = [True, 12, "Bonjour", [2, 5], 2.0]
for idx, element in enumerate(ma_liste):
    print(idx)
    print(element)

0
True
1
12
2
Bonjour
3
[2, 5]
4
2.0

In [37]:
ma_liste_func = [sorted, print, len]
for func in ma_liste_func:
    print(func([4, 2]))

[2, 4]
[4, 2]
None
2

In [43]:
ma_liste = [2, 4, 6, 7, 12]
a, b, *c = ma_liste

In [44]:
print(a)
print(b)
print(c)

2
4
[6, 7, 12]

In [45]:
mon_dico = {"nom": "BOL", "prenom": "Mick", "age": 35}

autre_dico = {
    **mon_dico,
    "spe": "Python"
}

In [46]:
autre_dico

{'nom': 'BOL', 'prenom': 'Mick', 'age': 35, 'spe': 'Python'}

#### Les dictionnaires

In [62]:
mon_dictionnaire = {
    "cle": 15,
    True: "Bonjour" 
}

In [63]:
mon_dico = {"nom": "BOL", "prenom": "Mick", "age": 35}

autre_dico = {
    **mon_dico,
    "spe": "Python"
}

In [49]:
print(hash(True))
print(hash(False))
print(hash("Bonjour"))

1
0
-4354716469132850917

In [50]:
print(hash("Bonjour"))

-4354716469132850917

In [51]:
print(hash("bonjour"))

-1987876321187463247

In [54]:
print(hash([1,2]))

TypeError: unhashable type: 'list'

In [55]:
print(hash((1,2)))

-3550055125485641917

In [58]:
mon_tuple = (4, True, 12)
mon_tuple[0] = 6

TypeError: 'tuple' object does not support item assignment

In [59]:
ma_liste = [4, True, 12]
ma_liste[0] = 6

In [61]:
mon_tuple = (4, True, [12, 5])
mon_tuple[-1].append(6)
print(mon_tuple)

(4, True, [12, 5, 6])

In [68]:
mon_set = {2, True, "bonjour", 2}
mon_set

TypeError: unhashable type: 'dict'

In [67]:
2 in mon_set

True

In [71]:
print(set(mon_dico))
print(set(mon_dico.values()))

{'prenom', 'age', 'nom'}
{'Mick', 35, 'BOL'}

In [72]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [73]:
mon_dico

{'nom': 'BOL', 'prenom': 'Mick', 'age': 35}

In [74]:
for key in mon_dico:
    print(key)

nom
prenom
age

In [75]:
for key, value in mon_dico.items():
    print(key)
    print(value)

nom
BOL
prenom
Mick
age
35

In [76]:
mon_dico["job"] = "informatique"

In [77]:
mon_dico

{'nom': 'BOL', 'prenom': 'Mick', 'age': 35, 'job': 'informatique'}

## Functions

In [81]:
# Création de la fonction
def dire_bonjour():
    """
    Une fonction qui dit bonjour
    """
    print("Hello")

In [86]:
dire_bonjour()
dire_bonjour()
dire_bonjour # IMPORTANT ici on n'appelle pas la fonction car il n'y a pas de parenthèses

Hello
Hello

function

In [89]:
help(dire_bonjour)

Help on function dire_bonjour in module __main__:

dire_bonjour()
    Une fonction qui dit bonjour

In [90]:
type(dire_bonjour)

function

In [91]:
type(dire_bonjour())

Hello

NoneType

In [92]:
# Création de la fonction
def dire_bonjour():
    """
    Une fonction qui dit bonjour
    """
    print("Hello")
    return 4

In [95]:
dire_bonjour()

print("fin")
# print(a)

Hello
fin
4

In [96]:
dire_bonjour() + 6

Hello

10

In [121]:
# Création de la fonction
def addition(a, b):
#     assert type(a) == int, "Parameter 'a' should be an int"
    print("Je fais une addition")
    print(a)
    y = a + b
    return y

In [122]:
addition(4, 6)

Je fais une addition
4

10

In [123]:
addition(12,2)

Je fais une addition
12

14

In [124]:
x = 12
y = 16
addition(x, y)

Je fais une addition
12

28

In [125]:
a = (12, 2)
b = (16, 4)
addition(b, a) # Attention, ici b est transmis dans le parametre a de la function

Je fais une addition
(16, 4)

(16, 4, 12, 2)

In [128]:
a = (12, 2)
b = "gz,jghdf"
addition(b,a)

Je fais une addition
gz,jghdf

TypeError: can only concatenate str (not "tuple") to str

In [149]:
# Création de la fonction
def operation(a, b, op="addition", message=""):
    print(message)
    if op == "addition":
        return a + b
    if op == "multiplication":
        return a * b

In [143]:
operation(4, 2)

6

In [138]:
operation(4, 2, "multiplication")

8

In [139]:
operation(4, 2, "addition")

6

In [140]:
print(operation(4, 2, "division"))

None

In [141]:
operation(4, 2, op="multiplication")

8

In [144]:
operation(4, 2, message="Bonjour")

Bonjour

6

In [147]:
print(operation(4, 2, "Bonjour", "addition"))
# Attention si on ne nomme pas les paramètres optionnels
# Python les considère dans l'ordre de la définition

addition
None

In [152]:
print(operation(4, 2, "addition"))

6

In [151]:
print(operation(4, 2, "addition",12 ,28, "message"))

TypeError: operation() takes from 2 to 4 positional arguments but 6 were given

In [153]:
def dire_bonjour(prenom, nom, age=15, ville="Paris"):
    print(f"Je m'appelle {prenom} {nom}. J'ai {age + 1} ans et j'habite {ville}")
    return "Bonjour"

In [159]:
def dire_bonjour(prenom, nom, age=15, ville="Paris"):
    return f"Je m'appelle {prenom} {nom}. J'ai {age} ans et j'habite {ville}"
    return "Bonjour"

In [156]:
print(dire_bonjour("Alan", "Turing"))
print("fin")

Je m'appelle Alan Turing. j'ai 15 ans et j'habite Paris
Bonjour
fin

In [160]:
print(dire_bonjour("Alan", "Turing", "Paris"))
print("fin")

Je m'appelle Alan Turing. J'ai Paris ans et j'habite Paris
fin

In [ ]:
print(dire_bonjour("Alan", "Turing", ville="Colmart"))
print("fin")

In [ ]:
def dire_bonjour(prenom, nom, age=15, ville="Paris"):
    if age > 18:
        print("majeur")
        return "ok"
    else:
        print("mineur")
        return "pas ok"
    
def dire_bonjour(prenom, nom, age=15, ville="Paris"):
    if age > 18:
        print("majeur")
        return "ok"
    print("mineur")
    return "pas ok"

def dire_bonjour(prenom, nom, age=15, ville="Paris"):
    if age > 18:
        print("majeur")
    print("mineur")

In [165]:
def tri_bulle(liste):
    """
    Trier les éléments de la liste en comparant chaque élément avec le suivant
    """
    ma_liste = liste.copy()
#     for i, val in enumerate(ma_liste[:-1]):
    for i in range(len(ma_liste) - 1):
        for i in range(len(ma_liste) - 1):
            if ma_liste[i] > ma_liste[i+1]:
                ma_liste[i], ma_liste[i+1] = ma_liste[i+1], ma_liste[i]
    return ma_liste

une_liste = [3,9,1,7,0]
print(tri_bulle(une_liste))

[0, 1, 3, 7, 9]

In [166]:
print(une_liste)

[3, 9, 1, 7, 0]

In [ ]:
def puissance_de_deux(n):
    """
    Retourne la liste des n premières puissance de deux
    2 ** 0, 2 ** 1, ... , 2 ** n
    """
    return