## Rappel d'hier

#### Les listes

In [10]:
ma_liste = [True, 12, "Bonjour", [2, 5], 2.0]

print(ma_liste[1])
print(ma_liste[2])
print(ma_liste[-1])
print(ma_liste[1] + ma_liste[-1])

print(ma_liste[0:2])
print(ma_liste[:2])
print(ma_liste[1:])
print(ma_liste[:-1])
print(ma_liste[::2])
print(ma_liste[0:4:2])
print(ma_liste[::-1])

12
Bonjour
2.0
14.0
[True, 12]
[True, 12]
[12, 'Bonjour', [2, 5], 2.0]
[True, 12, 'Bonjour', [2, 5]]
[True, 'Bonjour', 2.0]
[True, 'Bonjour']
[2.0, [2, 5], 'Bonjour', 12, True]

In [ ]:
ma_liste = [12, 5, 8, 9, 10]
sorted(ma_liste)
print(ma_liste) # Pas de modification de ma_liste

In [14]:
ma_liste = [12, 5, 8, 9, 10]
a = sorted(ma_liste)
print(ma_liste)
print(a)

[12, 5, 8, 9, 10]
[5, 8, 9, 10, 12]

In [15]:
print(sorted(ma_liste))

[5, 8, 9, 10, 12]

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
ma_liste = [True, 12, "Bonjour", [2, 5], 2.0]
for idx, element in enumerate(ma_liste):
    print(idx)
    print(element)

0
True
1
12
2
Bonjour
3
[2, 5]
4
2.0

In [37]:
ma_liste_func = [sorted, print, len]
for func in ma_liste_func:
    print(func([4, 2]))

[2, 4]
[4, 2]
None
2

In [43]:
ma_liste = [2, 4, 6, 7, 12]
a, b, *c = ma_liste

In [44]:
print(a)
print(b)
print(c)

2
4
[6, 7, 12]

In [45]:
mon_dico = {"nom": "BOL", "prenom": "Mick", "age": 35}

autre_dico = {
    **mon_dico,
    "spe": "Python"
}

In [46]:
autre_dico

{'nom': 'BOL', 'prenom': 'Mick', 'age': 35, 'spe': 'Python'}

#### Les dictionnaires

In [62]:
mon_dictionnaire = {
    "cle": 15,
    True: "Bonjour" 
}

In [63]:
mon_dico = {"nom": "BOL", "prenom": "Mick", "age": 35}

autre_dico = {
    **mon_dico,
    "spe": "Python"
}

In [49]:
print(hash(True))
print(hash(False))
print(hash("Bonjour"))

1
0
-4354716469132850917

In [50]:
print(hash("Bonjour"))

-4354716469132850917

In [51]:
print(hash("bonjour"))

-1987876321187463247

In [54]:
print(hash([1,2]))

TypeError: unhashable type: 'list'

In [55]:
print(hash((1,2)))

-3550055125485641917

In [58]:
mon_tuple = (4, True, 12)
mon_tuple[0] = 6

TypeError: 'tuple' object does not support item assignment

In [59]:
ma_liste = [4, True, 12]
ma_liste[0] = 6

In [61]:
mon_tuple = (4, True, [12, 5])
mon_tuple[-1].append(6)
print(mon_tuple)

(4, True, [12, 5, 6])

In [68]:
mon_set = {2, True, "bonjour", 2}
mon_set

TypeError: unhashable type: 'dict'

In [67]:
2 in mon_set

True

In [71]:
print(set(mon_dico))
print(set(mon_dico.values()))

{'prenom', 'age', 'nom'}
{'Mick', 35, 'BOL'}

In [72]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [73]:
mon_dico

{'nom': 'BOL', 'prenom': 'Mick', 'age': 35}

In [74]:
for key in mon_dico:
    print(key)

nom
prenom
age

In [75]:
for key, value in mon_dico.items():
    print(key)
    print(value)

nom
BOL
prenom
Mick
age
35